[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do  
Type=Link
URL=https://outlook.office365.com/owa/service.svc/s/GetFileAttachment?id=AAMkAGJmOTA3NWQ3LWViMDMtNGQ2Ni05MDU4LTJjYzVhYTcyY2YzNABGAAAAAAC7VU4ev%2FmsSomu8SEeQ7XyBwCPX6fA364SQa8EGbXxZNq8AAAAsp0aAACt3TigP1AxSLgVnqAIUUxnAAALV9n%2FAAABEgAQAC5s33JpBt1NnW3OtqK7H3Q%3D&X-OWA-CANARY=CFAvfo6CXEWEZabUyAzVkEAHnqvr79UYQ-l4N8HTM-ukAiy2OioBRfp1ZvAGL71KOu9cEpeeR1o.
Icon=text-html
